Repository NVIDIA/Fuser, pull requests merged in 2024-10, with the labels that each got.

#3074 Destroy ProcessGroupNCCLs in the same order between ranks.
  csrc/multidevice/communicator.cpp
Labels: bug

#3036 Generate loops based on the IdModel Loop graph (promotion)
  csrc/device_lower/analysis/sync_information.cpp
  csrc/device_lower/lower2device.cpp
  csrc/device_lower/lower2device.h
  csrc/device_lower/pass/allocation.cpp
  csrc/device_lower/pass/circular_buffer.cpp
  csrc/device_lower/utils.cpp
  csrc/id_model/id_model.cpp
  csrc/id_model/id_model.h
  csrc/id_model/indexing.cpp
  csrc/id_model/indexing.h
  csrc/id_model/indexing_utils.h
  csrc/id_model/predicate_indexing.cpp
  csrc/id_model/utils.h
  csrc/ir/nodes.cpp
  tests/cpp/test_indexing.cpp
Labels: rope

#3079 Loop promotion analysis WAR/shortcut and cycle check
  csrc/device_lower/pass/index.cpp
  csrc/device_lower/utils.h
  csrc/id_model/contiguity.h
  csrc/id_model/id_model_index_compute.h
  csrc/id_model/indexing.cpp
  csrc/id_model/indexing.h
  csrc/id_model/loop_promotion.cpp
  csrc/id_model/loop_promotion.h
  csrc/val_graph_visitor.cpp
  csrc/val_graph_visitor.h
  tests/cpp/test_id_model.cpp
Labels: idmodel, rope

#3086 Loop graph with set loop domain
  csrc/id_model/id_model.cpp
  csrc/inlining.cpp
  csrc/ir/utils.cpp
  csrc/ir/utils.h
  csrc/tensor_view.cpp
  tests/cpp/test_id_model.cpp
  tests/cpp/test_resize.cpp
Labels: idmodel, rope

#3073 Allow linear to take a >2D weight and a >1D bias.
  csrc/ir/nodes.cpp
  csrc/ops/composite.cpp
  csrc/ops/utils.cpp
  tests/cpp/test_matmul_aten_evaluation.cpp
  tests/cpp/test_translate_mma.cpp
  tests/python/opinfo_input_generators.py
  tests/python/test_matmul.py
  tests/python/test_multidevice.py
Labels: enhancement

#3114 Fix fd.ops.linear to compute the right output rank.
  csrc/ops/composite.cpp
  csrc/python_frontend/python_bindings.cpp
Labels: bug

#2844 Add support unary and ternary operations
  csrc/python_frontend/translation.cpp
  csrc/python_frontend/translation_utils.cpp
  csrc/python_frontend/translation_utils.h
  csrc/serde/fusion_record.cpp
  tests/python/opinfos.py
  tests/python/test_python_frontend.py
Labels: Python API

#3064 Allgather-based pipelining ATen Implementation
  tests/cpp/test_multidevice_overlap.cpp
Labels: enhancement

#3142 Add expand operation to python frontend
  csrc/python_frontend/fusion_record.h
  csrc/python_frontend/python_bindings.cpp
  csrc/serde/fusion_cache.fbs
  csrc/serde/fusion_record.cpp
  tests/python/test_python_frontend.py
Labels: Python API

#3045 Partially sharded transformer layer forward using Python API.
  tests/python/test_multidevice.py
Labels: enhancement

#3107 Scheduling loop domains
  CMakeLists.txt
  csrc/bfs.h
  csrc/device_lower/pass/loop_rotation.h
  csrc/ir/internal_base_nodes.h
  csrc/ir/nodes.cpp
  csrc/scheduler/utils.cpp
  csrc/scheduler/utils.h
  csrc/val_graph_visitor.cpp
  csrc/val_graph_visitor.h
  tests/cpp/test_bfs.cpp
  tests/cpp/test_gpu3.cpp
  tests/cpp/test_id_model.cpp
  tests/cpp/test_loop_domain_scheduling.cpp
  tests/cpp/test_resize.cpp
Labels: rope

#2856 Add Reduction, Squeeze, Reshape, and Expand to FusionTranslation
  csrc/ops/alias.cpp
  csrc/ops/alias.h
  csrc/python_frontend/fusion_record.h
  csrc/python_frontend/python_bindings.cpp
  csrc/python_frontend/translation.cpp
  csrc/python_frontend/translation_utils.cpp
  csrc/python_frontend/translation_utils.h
  csrc/serde/fusion_cache.fbs
  csrc/serde/fusion_record.cpp
  tests/python/test_python_frontend.py
  version.txt
Labels: Python API

#2865 Add Slice to FusionTranslation
  csrc/ir/internal_nodes.h
  csrc/ir/nodes.cpp
  csrc/python_frontend/translation.cpp
  tests/python/test_python_frontend.py
Labels: Python API

#2866 Add Random, Permute, Linear, Full, and Iota to FusionTranslation
  csrc/python_frontend/translation.cpp
  tests/python/test_python_frontend.py
Labels: Python API

#3106 Profile configurations for pointwise scheduler in python frontend
  csrc/python_frontend/fusion_cache.cpp
  csrc/python_frontend/fusion_cache.h
  csrc/python_frontend/fusion_definition.cpp
  csrc/python_frontend/fusion_definition.h
  csrc/python_frontend/python_bindings.cpp
  doc/dev/python_scheduling/autotune_pointwise.py
  nvfuser/__init__.py
Labels: Autotune

#3180 Fix broadcast and squeeze to propagate the input device mesh.
  csrc/ops/alias.cpp
Labels: bug

#3168 Make contiguous tensors with torch.testing.make_tensor.
  nvfuser/__init__.py
  tests/python/test_python_frontend.py
Labels: enhancement

#3192 Fix a bug in fd.ops.squeeze.
  csrc/python_frontend/python_bindings.cpp
  tests/python/test_alias.py
Labels: bug

#3184 Update the forward pass based on a more recent Thunder version.
  tests/python/test_multidevice.py
Labels: enhancement

#3211 validateContiguity prints better error message.
  csrc/ir/nodes.cpp
Labels: enhancement

#3204 Rename take_along_axis and torch_gather to camelCase
  csrc/fusion_segmenter.cpp
  csrc/ir/nodes.cpp
  csrc/ir/utils.h
  csrc/logical_domain_map.cpp
  csrc/logical_domain_map.h
  csrc/ops/indexing.cpp
  csrc/ops/indexing.h
  csrc/python_frontend/fusion_record.h
  csrc/scheduler/pointwise_utils.cpp
  csrc/scheduler/pointwise_utils.h
  csrc/scheduler/registry_utils.cpp
  tests/cpp/test_gpu_fused_reduction.cpp
  tests/cpp/test_scatter_gather.cpp
  tests/python/utils.py
Labels: Python API

#3207 Add TorchGather support to FusionTranslation
  csrc/python_frontend/translation.cpp
  tests/python/test_python_frontend.py
Labels: Python API

#3162 Add select to FusionTranslation.
  csrc/python_frontend/fusion_record.h
  csrc/python_frontend/python_bindings.cpp
  csrc/python_frontend/translation.cpp
  csrc/serde/fusion_cache.fbs
  csrc/serde/fusion_record.cpp
  tests/python/test_python_frontend.py
  version.txt
Labels: Python API

#3234 Add welford operation to python-frontend
  csrc/python_frontend/fusion_record.h
  csrc/python_frontend/python_bindings.cpp
  csrc/python_frontend/translation.cpp
  csrc/serde/fusion_cache.fbs
  csrc/serde/fusion_record.cpp
  tests/python/test_python_frontend.py
  version.txt
Labels: Python API

#3236 Add support for pad to fusion translation
  csrc/python_frontend/fusion_record.h
  csrc/python_frontend/python_bindings.cpp
  csrc/python_frontend/translation.cpp
  csrc/serde/fusion_cache.fbs
  csrc/serde/fusion_record.cpp
  tests/python/README.md
  tests/python/test_python_frontend.py
  version.txt
Labels: Python API

#3237 Add cat operation to fusion translation
  csrc/ops/alias.cpp
  csrc/ops/alias.h
  csrc/python_frontend/fusion_record.h
  csrc/python_frontend/python_bindings.cpp
  csrc/python_frontend/translation.cpp
  csrc/serde/fusion_cache.fbs
  csrc/serde/fusion_record.cpp
  tests/python/test_python_frontend.py
  tests/python/utils.py
  version.txt
Labels: Python API

#3258 Add manual_normalization to slice operation.
  csrc/ops/alias.cpp
  csrc/ops/alias.h
  csrc/python_frontend/fusion_record.h
  csrc/python_frontend/python_bindings.cpp
  csrc/python_frontend/translation.cpp
  csrc/serde/fusion_cache.fbs
  csrc/serde/fusion_record.cpp
  tests/cpp/test_segmentation.cpp
  version.txt
Labels: Python API

#3243 Create HopperMultiMatmulScheduler
  CMakeLists.txt
  csrc/scheduler/ampere_multi_matmul.cpp
  csrc/scheduler/ampere_multi_matmul.h
  csrc/scheduler/hopper_multi_matmul.cpp
  csrc/scheduler/hopper_multi_matmul.h
  csrc/scheduler/multi_matmul.cpp
  tests/cpp/test_matmul_scheduler.cpp
Labels: matmul, Top-Down Matmul Dev

#3254 Python interface for MatmulParams and example script
  csrc/python_frontend/python_bindings.cpp
  csrc/scheduler/matmul_heuristic.h
  doc/dev/python_scheduling/autotune_matmul.py
  version.txt
Labels: matmul, Autotune

#3277 Refactor MultiMatmulSchedulers
  csrc/scheduler/ampere_multi_matmul.cpp
  csrc/scheduler/ampere_multi_matmul.h
  csrc/scheduler/hopper_multi_matmul.cpp
  csrc/scheduler/hopper_multi_matmul.h
  csrc/scheduler/mma_utils.h
  csrc/scheduler/multi_matmul.cpp
  csrc/scheduler/multi_matmul.h
  csrc/scheduler/tools/abstract_tensor.h
  csrc/utils.h
Labels: matmul, Top-Down Matmul Dev

#3118 Profile configurations for InnerOuterPersistent scheduler in python frontend
  csrc/python_frontend/fusion_cache.cpp
  csrc/python_frontend/fusion_cache.h
  csrc/python_frontend/fusion_definition.cpp
  csrc/python_frontend/python_bindings.cpp
  csrc/scheduler/compile_time_info.h
  csrc/scheduler/normalization_inner_outer.cpp
  csrc/scheduler/registry.cpp
  csrc/scheduler/utils.h
  doc/dev/python_scheduling/autotune_persistent.py
Labels: Autotune

#3289 Add information for coordinating segments in python frontend.
  csrc/python_frontend/fusion_cache.cpp
  csrc/python_frontend/fusion_cache.h
  csrc/python_frontend/fusion_definition.cpp
  csrc/python_frontend/fusion_record.h
  csrc/python_frontend/fusion_state.cpp
  csrc/python_frontend/fusion_state.h
  csrc/python_frontend/python_bindings.cpp
  nvfuser/__init__.py
  tests/python/test_python_frontend.py
Labels: Python API

#3319 Fix `is_clonable` in `test_issue_3292`
  csrc/serde/fusion_record.cpp
  tests/python/test_python_frontend.py
Labels: serde
