Repository NVIDIA/Fuser, pull requests merged in 2024-06, with the labels that each got.

#2282 [User Schedule] Add print functions for TensorViews and User Scheduled Fusions
  csrc/python_frontend/fusion_definition.cpp
  csrc/python_frontend/fusion_definition.h
  csrc/python_frontend/python_bindings.cpp
  tests/python/test_python_frontend.py
  tests/python/test_schedule_ops.py
Labels: Python API

#2283 [User Schedule] Expand ParallelType enum support
  csrc/python_frontend/python_bindings.cpp
  tests/python/test_schedule_ops.py
  version.txt
Labels: Python API

#2284 [User Schedule] Add cacheBefore, cacheAfter, and setMemoryType
  csrc/python_frontend/fusion_definition.cpp
  csrc/python_frontend/fusion_definition.h
  csrc/python_frontend/python_bindings.cpp
  tests/python/test_schedule_ops.py
Labels: Python API

#2322 Fix coverage with multiple expr groups producing the same val group
  csrc/device_lower/lower2device.cpp
  csrc/id_model/loop_promotion.cpp
  tests/cpp/test_id_model.cpp
Labels: idmodel

#2285 [User Schedule] Implement transform_like and parallelize_like
  csrc/python_frontend/python_bindings.cpp
  tests/python/test_schedule_ops.py
Labels: Python API

#2286 [User Schedule] Add inline_most and inline_at
  csrc/python_frontend/python_bindings.cpp
  tests/python/test_schedule_ops.py
Labels: Python API

#2303 Infer matmul dimension roles to compute vectorization
  csrc/scheduler/matmul.cpp
  csrc/scheduler/matmul_heuristic.h
  csrc/scheduler/matmul_heuristic_plugin.cpp
  csrc/scheduler/matmul_heuristic_plugin.h
  csrc/scheduler/matmul_utils.cpp
  csrc/scheduler/mma_utils.cpp
  csrc/scheduler/mma_utils.h
  csrc/scheduler/registry.h
  tests/cpp/test_combine_mul_sum.cpp
  tests/cpp/test_gpu_tensorcore.cpp
  tests/cpp/test_matmul_scheduler.cpp
Labels: enhancement, matmul

#2344 Initial PR of IdModel-based indexing
  CMakeLists.txt
  csrc/id_model/id_model.cpp
  csrc/id_model/id_model.h
  csrc/id_model/indexing.cpp
  csrc/id_model/indexing.h
  csrc/ir/utils.h
  tests/cpp/test_indexing.cpp
Labels: idmodel

#2353 IdModel-based indexing: broadcast indexing
  csrc/id_model/indexing.cpp
  csrc/id_model/indexing.h
  tests/cpp/test_indexing.cpp
Labels: idmodel

#2364 Support indexing of DIDx parallelized tensors
  csrc/id_model/indexing.cpp
  tests/cpp/test_indexing.cpp
Labels: idmodel

#2380 Support indexing of vectorized tensors
  csrc/id_model/indexing.cpp
  csrc/id_model/indexing.h
  tests/cpp/test_indexing.cpp
Labels: idmodel

#2389 Enabling Idmodel-based indexing in lowering
  csrc/device_lower/lower2device.cpp
  csrc/device_lower/lower2device.h
  csrc/expr_simplifier.cpp
  csrc/id_model/indexing.cpp
  csrc/index_compute.cpp
  csrc/options.cpp
  csrc/options.h
  tests/cpp/test_indexing.cpp
Labels: idmodel
