Repository NVIDIA/Fuser, pull requests merged in 2025-09, with the labels that each got.

#5130 Add remaining complex tests to direct bindings
  tests/python/direct/README.md
  tests/python/direct/test_high_complexity.py
Labels: Python API, Direct Bindings

#5131 Update direct bindings test README
  tests/python/direct/README.md
Labels: Python API, Direct Bindings

#5133 Migrate legacy `test_matmul.py` to direct bindings
  python/python_direct/ops.cpp
  tests/python/direct/README.md
  tests/python/direct/test_matmul.py
  tests/python/direct/test_python_frontend.py
  tests/python/direct/test_repro.py
  tests/python/test_matmul.py
Labels: Python API, Direct Bindings

#5137 Migrate legacy `test_pointwise.py` to direct bindings
  tests/python/direct/README.md
  tests/python/direct/test_python_frontend.py
  tests/python/direct/test_repro.py
  tests/python/test_pointwise.py
Labels: Python API, Direct Bindings

#5138 Delete legacy `test_sdpa`
  tests/python/test_sdpa.py
Labels: Direct Bindings

#5160 NFC: Use auto* for as<> casts across device lowering, IR, scheduler, Python frontend, and tests
  csrc/device_lower/analysis/predicate_elimination.cpp
  csrc/device_lower/analysis/tma.cpp
  csrc/device_lower/pass/circular_buffer.cpp
  csrc/device_lower/pass/index.cpp
  csrc/device_lower/pass/loops.cpp
  csrc/device_lower/utils.cpp
  csrc/host_ir/pass/stream_parallel_type.cpp
  csrc/id_model/loop_promotion.cpp
  csrc/index_compute.cpp
  csrc/ir/base_nodes.cpp
  csrc/ir/nodes.cpp
  csrc/logical_domain_map.cpp
  csrc/preseg_passes/consecutive_cast.cpp
  csrc/preseg_passes/move_pad.cpp
  csrc/preseg_passes/remove_bcast_squeeze.cpp
  csrc/scheduler/cache_policy_refiner.cpp
  csrc/scheduler/matmul_hopper+.cpp
  csrc/scheduler/matmul_utils.cpp
  csrc/scheduler/resize.cpp
  csrc/scheduler/vectorize_helper.cpp
  csrc/transform_iter.cpp
  csrc/validator_utils.cpp
  python/python_direct/python_translate.cpp
  python/python_frontend/fusion_record.h
  python/python_frontend/fusion_state.cpp
  python/python_frontend/translation.cpp
  tests/cpp/test_combined_inner_outer_reduction.cpp
  tests/cpp/test_gpu1.cpp
  tests/cpp/test_indexing.cpp
  tests/cpp/test_matmul_scheduler.cpp
  tests/cpp/test_multidevice_host_ir.cpp
  tests/cpp/test_tutorial.cpp
Labels: cleanup

#5149 Fix TopK when K=1
  csrc/device_lower/analysis/sync_information.cpp
  csrc/device_lower/analysis/trivial_broadcast.cpp
  csrc/device_lower/analysis/trivial_broadcast.h
  csrc/scheduler/greedy.cpp
  tests/cpp/test_greedy.cpp
Labels: greedy scheduler

#5145 Optimize constant python values in direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  python/version.txt
  tests/python/direct/test_python_direct.py
  tests/python/direct/test_python_frontend.py
Labels: Python API, Direct Bindings

#5168 Add support for `KernelExecutor` to direct bindings
  CMakeLists.txt
  python/nvfuser_direct/__init__.py
  python/python_direct/bindings.cpp
  python/python_direct/bindings.h
  python/python_direct/enum.cpp
  python/python_direct/heuristic_params.cpp
  python/python_direct/runtime.cpp
  python/python_frontend/python_bindings.cpp
  tests/python/direct/test_python_direct.py
Labels: Python API, Direct Bindings

#5171 Allow broadcast and squeeze in the greedy scheduler
  csrc/ir/interface_nodes.h
  csrc/logical_domain_map.cpp
  csrc/logical_domain_map.h
  csrc/scheduler/greedy.cpp
  csrc/scheduler/tools/inlining.cpp
  csrc/scheduler/tools/inlining.h
  csrc/tensor_view.cpp
  tests/cpp/test_greedy.cpp
Labels: greedy scheduler

#5169 Migrate Tutorial.Memcpy to direct bindings
  python/python_direct/ir.cpp
  tests/python/direct/test_tutorial.py
Labels: Python API, Direct Bindings

#5175 Allow ScatterOp with multiple dimensions as long as extents are the same
  csrc/device_lower/pass/index.cpp
  csrc/device_lower/validation.cpp
  csrc/ir/internal_nodes.h
  csrc/ir/nodes.cpp
  csrc/logical_domain_map.cpp
  csrc/ops/indexing.cpp
  csrc/scheduler/greedy.cpp
  tests/cpp/test_scatter.cpp
Labels: greedy scheduler

#5139 Convert python benchmarks to direct bindings except `benchmark_overlap.py`
  benchmarks/python/conftest.py
  benchmarks/python/core.py
  benchmarks/python/global_params.py
  benchmarks/python/host/test_adaptive_layernorm_host.py
  benchmarks/python/host/test_many_pointwise_ops_host.py
  benchmarks/python/host/test_many_segments_host.py
  benchmarks/python/normalization.py
  benchmarks/python/test_broadcast_add_fwd.py
  benchmarks/python/test_cat.py
  benchmarks/python/test_dropout_layernorm_bwd.py
  benchmarks/python/test_dropout_layernorm_fwd.py
  benchmarks/python/test_dropout_rmsnorm_bwd.py
  benchmarks/python/test_dropout_rmsnorm_fwd.py
  benchmarks/python/test_gelu_bwd.py
  benchmarks/python/test_gelu_bwd_reduction.py
  benchmarks/python/test_gelu_fwd.py
  benchmarks/python/test_groupnorm_fwd.py
  benchmarks/python/test_huggingface_attn_bwd.py
  benchmarks/python/test_huggingface_attn_fwd.py
  benchmarks/python/test_layernorm_bwd.py
  benchmarks/python/test_layernorm_fwd.py
  benchmarks/python/test_matmul.py
  benchmarks/python/test_nanogpt_attn_bwd.py
  benchmarks/python/test_nanogpt_attn_fwd.py
  benchmarks/python/test_pointwise_mul.py
  benchmarks/python/test_reduction.py
  benchmarks/python/test_reduction_epilogue.py
  benchmarks/python/test_rmsnorm_bwd.py
  benchmarks/python/test_rmsnorm_fwd.py
  benchmarks/python/test_scale_bias_relu_bwd.py
  benchmarks/python/test_scale_bias_relu_fwd.py
  benchmarks/python/test_silu_mul_bwd.py
  benchmarks/python/test_silu_mul_fwd.py
  benchmarks/python/test_softmax_bwd.py
  benchmarks/python/test_softmax_fwd.py
  benchmarks/python/test_transpose.py
  python/nvfuser_direct/benchmark_utils.py
Labels: Python Benchmarks, Direct Bindings

#5195 Added TensorDomain::kNoReductions
  csrc/dynamic_transform.cpp
  csrc/fusion_segmenter.cpp
  csrc/ir/internal_base_nodes.h
  csrc/kernel_ir.cpp
  csrc/preseg_passes/remove_empty.cpp
  csrc/scheduler/mma_utils.cpp
  csrc/scheduler/pointwise.cpp
  csrc/tensor_metadata.cpp
Labels: cleanup

#5202 Add TensorDomain::kNoBroadcasts and use it throughout
  csrc/device_lower/analysis/tensor_producer_aliases.cpp
  csrc/device_lower/pass/index.cpp
  csrc/ir/internal_base_nodes.h
  csrc/ir/utils.cpp
  csrc/preseg_passes/allocation_order_inference.cpp
  csrc/scheduler/no_op.cpp
  csrc/scheduler/pointwise.cpp
  csrc/scheduler/resize.cpp
  csrc/scheduler/tools/loop_domain_scheduler.cpp
  csrc/val_graph.h
  tests/cpp/utils.cpp
Labels: cleanup

#5187 Migrate Tutorial.Reduction to direct bindings
  python/nvfuser_direct/__init__.py
  python/python_direct/bindings.cpp
  python/python_direct/runtime.cpp
  tests/python/direct/test_tutorial.py
Labels: Python API, Direct Bindings

#5190 Migrate Tutorial.IdModelReshapeAnalysis to direct bindings
  CMakeLists.txt
  csrc/disjoint_set.h
  csrc/id_model/id_model.h
  csrc/val_graph.h
  python/python_direct/bindings.cpp
  python/python_direct/bindings.h
  python/python_direct/enum.cpp
  python/python_direct/id_model.cpp
  python/python_direct/ir.cpp
  tests/python/direct/test_tutorial.py
Labels: Python API, Direct Bindings

#5231 Mostly just cleanup of greedy schedule
  csrc/scheduler/greedy.cpp
Labels: greedy scheduler

#5216 Add readme for direct bindings
  python/python_direct/README.md
Labels: Direct Bindings

#5233 Translate ScatterOp + ReductionOp to ScatterOp with accumulation
  CMakeLists.txt
  csrc/ir/nodes.cpp
  csrc/ops/arith.cpp
  csrc/preseg_passes/pre_segmenter.cpp
  csrc/preseg_passes/translate_scatter_accumulate.cpp
  csrc/preseg_passes/translate_scatter_accumulate.h
  csrc/scheduler/greedy.cpp
  tests/cpp/test_greedy.cpp
Labels: greedy scheduler
