Repository NVIDIA/Fuser, pull requests merged in 2025-08, with the labels that each got.

#4879 Add Iota operation to direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/direct/test_python_frontend.py
  tests/python/opinfo/opinfos.py
Labels: Python API, Direct Bindings

#4880 Add full operation to direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/direct/test_python_frontend.py
  tests/python/opinfo/opinfos.py
Labels: Python API, Direct Bindings

#4881 Add topk operation to direct bindings
  python/python_direct/ir.cpp
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/opinfo/opinfos.py
Labels: Python API, Direct Bindings

#4882 Support alias outputs in direct bindings.
  python/python_direct/python_translate.cpp
  python/python_direct/runtime.cpp
  tests/python/direct/test_python_frontend.py
Labels: Python API, Direct Bindings

#4884 Add scatter operation to direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/opinfo/opinfos.py
Labels: Python API, Direct Bindings

#4908 Add pad operation to direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/direct/test_python_frontend.py
  tests/python/opinfo/opinfos.py
Labels: Python API, Direct Bindings

#4910 Add argsort operation to direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/opinfo/opinfos.py
Labels: Python API, Direct Bindings

#4911 Add scaled_mm and grouped_mm operations to direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/opinfo/opinfos.py
Labels: Python API, Direct Bindings

#4912 Add sdpfa_fwd operation to direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/direct/test_sdpa.py
Labels: Python API, Direct Bindings

#4928 Clean prepareRuntimeOrder
  csrc/fusion_segmenter.cpp
  csrc/fusion_segmenter.h
  csrc/host_ir/lower.cpp
  csrc/runtime/fusion_cache_utils.cpp
  csrc/runtime/fusion_cache_utils.h
  csrc/runtime/fusion_kernel_runtime.cpp
Labels: cleanup

#4914 Add uniform and random operations to direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/direct/test_python_frontend.py
Labels: Python API, Direct Bindings

#4948 Remove unnecessary code
  python/nvfuser_direct/__init__.py
  tests/python/multidevice/fusion_definition_wrapper.py
Labels: cleanup

#4947 Rename `keep_dim` keyword name to `keepdim`
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/direct/test_python_frontend.py
Labels: Direct Bindings

#4955 Avoid discarding imaginary part of complex number in python correctness tests
  tests/python/direct_utils/utils.py
  tests/python/utils/utils.py
Labels: Python API, Direct Bindings

#4938 Convert `test_matmul.py` to direct bindings
  python/python_direct/ir.cpp
  tests/python/multidevice/test_matmul.py
Labels: Multi-GPU, Direct Bindings

#4942 Update `test_transformers.py` to direct bindings
  tests/python/direct_utils/utils.py
  tests/python/multidevice/test_transformer.py
Labels: Multi-GPU, Direct Bindings

#4989 Handle remaining composite operations in opinfo tests
  python/python_common/python_utils.cpp
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/direct/test_python_frontend.py
  tests/python/opinfo/opinfos.py
Labels: Python API, Direct Bindings

#4981 Refactor cutlass to share `validateInputsNvfp4ScaledMm` across multiple cuda kernels
  CMakeLists.txt
  cutlass/nvf_cutlass.cpp
  cutlass/nvf_cutlass.h
  cutlass/nvfp4_scaled_mm.cu
Labels: Matmuls, Cutlass

#5003 Add scatter scalar to direct bindings
  python/python_direct/ops.cpp
  tests/python/direct/test_python_frontend.py
Labels: Direct Bindings

#5026 Remove IrMathPrinter
  CMakeLists.txt
  csrc/device_lower/pass/alias_memory.cpp
  csrc/fusion.cpp
  csrc/fusion_segmenter.cpp
  csrc/host_ir/container.cpp
  csrc/ir/iostream.cpp
  csrc/ir/iostream.h
  csrc/ir/printer.cpp
  csrc/ir/printer.h
  csrc/kernel.cpp
  csrc/utils.h
Labels: cleanup

#5042 Reduce CI time by only running legacy opinfo tets not supported by direct bindings
  tests/python/opinfo/test_legacy_ops.py
Labels: opinfo, Python API

#4662 Add Cutlass NVFP4 Grouped Gemm to `nvfuser_direct` python bindings
  CMakeLists.txt
  cutlass/nvf_cutlass.h
  cutlass/nvfp4_scaled_group_mm.cu
  python/python_direct/cutlass.cpp
Labels: Matmuls, Thunder-Inference-Demo, Cutlass

#5019 Create nvfp4 `scaled_mm` with fused blockscale quantization
  CMakeLists.txt
  cutlass/nvf_cutlass.h
  cutlass/nvfp4_scaled_mm_blockscale.cu
  python/python_direct/cutlass.cpp
  tests/python/direct/test_cutlass_nvfp4_gemm.py
Labels: Matmuls, Cutlass

#5046 Add remaining functions to enable `nvfuser_direct` in Thunder
  csrc/options.h
  python/nvfuser_direct/__init__.py
  python/python_direct/bindings.cpp
  python/python_direct/runtime.cpp
  tests/python/direct/README.md
  tests/python/direct/test_python_direct.py
  tests/python/direct/test_python_frontend.py
Labels: Python API, Direct Bindings

#5048 Add `validate` to direct bindings
  csrc/validator_utils.cpp
  csrc/validator_utils.h
  python/nvfuser_direct/__init__.py
  python/python_direct/runtime.cpp
  python/python_frontend/fusion_definition.cpp
  tests/python/direct/README.md
  tests/python/direct/test_repro.py
  tests/python/test_repro.py
Labels: Python API, Direct Bindings

#5070 Add var operation to direct bindings
  python/python_direct/ops.cpp
  python/python_direct/python_translate.cpp
  tests/python/direct/README.md
  tests/python/direct/test_python_frontend.py
Labels: Direct Bindings

#5072 Get API version with direct bindings
  .gitignore
  CMakeLists.txt
  python/nvfuser_direct/__init__.py
  python/nvfuser_direct/nvfuser_direct_version.py
  python/tools/gen_nvfuser_version.py
  python/version.txt
  tests/python/direct/README.md
  tests/python/direct/test_python_direct.py
Labels: Direct Bindings

#5074 Initial support of reshape in the greedy scheduler
  csrc/scheduler/greedy.cpp
  csrc/scheduler/greedy.h
  csrc/scheduler/tools/loop_domain_scheduler.cpp
  csrc/scheduler/tools/loop_domain_scheduler.h
  csrc/scheduler/tools/resize_utils.cpp
  tests/cpp/test_greedy.cpp
  tests/cpp/test_loop_domain_scheduling.cpp
Labels: greedy scheduler
